#__next {
    margin: 0;
    padding: 0;
}
.loginContainer {
    padding-top: 15px;
}
.signText {
    padding-left: 25vw;
}

.inputContainer {
    text-align: center;
}
.chekcingPw {
    visibility: hidden;
}
/* 유저 에이전트 시트 !important */
