.Accbody {
    padding-top: 300px;
}

.cardSlider {
    display: flex;
}

.cardcontens {
    width: 266px;
    height: 462px;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Featured {
    font-size: 2.3em;
    font-weight: 800;
}

.productPrice {
    padding-top: 20px;
    padding-bottom: 30px;
}
