.cardContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.cardDetail {
    flex-basis: 75%;
    max-width: 75%;
    margin-left: 17px;
}

.productInfo {
    display: flex;
}

.productName {
    flex-basis: 50%;
    max-width: 50%;
}
.productAmount {
    width: 14%;
}
.productPrice {
    width: 36%;
}
