.SelctAccBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 980px;
    height: 255px;
    border: 5px solid red;
}
.btns {
    font-size: x-large;
}
.cont1 {
    visibility: visible;
    font-size: x-large;
    position: static;
}
.cont2 {
    visibility: hidden;
    font-size: x-large;
    position: static;
}

.listOf {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}

.BoxList {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.IconBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid blueviolet;
    height: 143px;
    width: 143px;
}
